.app_dark_theme {
    --background-color: #2d3436;
    --inverted-background-color: #f6f6f9;
    --primary-color: #dfe6e9;
    --secondary-color: #b2bec3;
    --link-primary-color: #a29bfe;
    --link-secondary-color: #6c5ce7;
    --button-green: #55efc4;
    --button-purple: #a29bfe;
    --button-green-text: #2d3436;
    --button-purple-text: #2d3436;
}
