.app.dark {
  --background-color: #2d3436;
  --inverted-background-color: #F6F6F9;

  --primary-color: #dfe6e9;
  --secondary-color: #b2bec3;

  --link-primary-color: #a29bfe;
  --link-secondary-color: #6c5ce7;
}
