:root,
.app.light {
    --background-color: #f6f6f9;
    --inverted-background-color: #2d3436;
    --primary-color: #31314d;
    --secondary-color: #49496f;
    --link-primary-color: #55efc4;
    --link-secondary-color: #00b894;
}
